<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="sampleBuilder"
         name="Sample Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="br.ufms.facom.acctrace.builder.SampleBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="sampleNature"
         name="Sample Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="br.ufms.facom.acctrace.builder.SampleNature">
         </run>
      </runtime>
      <builder
            id="br.ufms.facom.acctrace.sampleBuilder">
      </builder>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="My Common Navigator"
            icon="icons/sample.gif"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="com.example.test">
      </view>
      <category
            name="Sample Category"
            id="br.ufms.facom.acctrace">
      </category>
      <view
            name="Sample View"
            icon="icons/sample.gif"
            category="br.ufms.facom.acctrace"
            class="br.ufms.facom.acctrace.views.SampleView"
            id="br.ufms.facom.acctrace.views.SampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="com.example.test">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="com.example.test">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               relationship="stack"
               id="com.example.test">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="br.ufms.facom.acctrace.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            location="BOTTOM_RIGHT"
            adaptable="true"
            label="Resource Decorator"
            icon="icons/sample_decorator.gif"
            state="true"
            id="br.ufms.facom.acctrace.decorator">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="br.ufms.facom.acctrace.commands.category">
      </category>
      <command
            name="Sample Command"
            categoryId="br.ufms.facom.acctrace.commands.category"
            id="br.ufms.facom.acctrace.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="br.ufms.facom.acctrace.commands.sampleCommand"
            class="br.ufms.facom.acctrace.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="br.ufms.facom.acctrace.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Sample Menu"
               mnemonic="M"
               id="br.ufms.facom.acctrace.menus.sampleMenu">
            <command
                  commandId="br.ufms.facom.acctrace.commands.sampleCommand"
                  mnemonic="S"
                  id="br.ufms.facom.acctrace.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="br.ufms.facom.acctrace.toolbars.sampleToolbar">
            <command
                  commandId="br.ufms.facom.acctrace.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="br.ufms.facom.acctrace.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocconcepts.xml">
      </toc>
      <toc
            file="tocgettingstarted.xml">
      </toc>
      <toc
            file="tocreference.xml">
      </toc>
      <toc
            file="tocsamples.xml">
      </toc>
      <toc
            file="toctasks.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            name="Sample File Import"
            id="br.ufms.facom.acctrace.importWizards.sampleCategory">
      </category>
      <wizard
            name="Import File"
            icon="icons/sample.gif"
            category="br.ufms.facom.acctrace.importWizards.sampleCategory"
            class="br.ufms.facom.acctrace.importWizards.ImportWizard"
            id="br.ufms.facom.acctrace.importWizards.ImportWizard">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Sample Preferences"
            class="br.ufms.facom.acctrace.preferences.SamplePreferencePage"
            id="br.ufms.facom.acctrace.preferences.SamplePreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="br.ufms.facom.acctrace.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="Sample Page"
            nameFilter="*.*"
            class="br.ufms.facom.acctrace.properties.SamplePropertyPage"
            id="br.ufms.facom.acctrace.properties.samplePropertyPage">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="intro/sample.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="br.ufms.facom.acctrace.editors.AccTraceEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="acctrace"
            icon="icons/sample.gif"
            id="br.ufms.facom.acctrace.editors.AccTraceEditor"
            name="AccTrace Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="br.ufms.facom.acctrace"
            name="AccTrace">
      </category>
      <wizard
            category="br.ufms.facom.acctrace"
            class="br.ufms.facom.acctrace.wizards.AccTraceFileWizard"
            icon="icons/sample.gif"
            id="br.ufms.facom.acctrace.wizards.AccTraceFileWizard"
            name="AccTrace File Wizard">
      </wizard>
   </extension>

</plugin>
