<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="sampleBuilder"
         name="%extension.name"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="br.ufms.facom.acctrace.builder.SampleBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="sampleNature"
         name="%extension.name.0"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="br.ufms.facom.acctrace.builder.SampleNature">
         </run>
      </runtime>
      <builder
            id="br.ufms.facom.acctrace.sampleBuilder">
      </builder>
   </extension>
   <extension
         id="xmlProblem"
         name="%extension.name.1"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            location="BOTTOM_RIGHT"
            adaptable="true"
            label="%decorator.label"
            icon="icons/sample_decorator.gif"
            state="true"
            id="br.ufms.facom.acctrace.decorator">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%category.name.0"
            id="br.ufms.facom.acctrace.commands.category">
      </category>
      <command
            name="%command.name"
            categoryId="br.ufms.facom.acctrace.commands.category"
            id="br.ufms.facom.acctrace.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="br.ufms.facom.acctrace.commands.sampleCommand"
            class="br.ufms.facom.acctrace.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="br.ufms.facom.acctrace.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="%menu.label"
               mnemonic="%menu.mnemonic"
               id="br.ufms.facom.acctrace.menus.sampleMenu">
            <command
                  commandId="br.ufms.facom.acctrace.commands.sampleCommand"
                  mnemonic="%command.mnemonic"
                  id="br.ufms.facom.acctrace.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="br.ufms.facom.acctrace.toolbars.sampleToolbar">
            <command
                  commandId="br.ufms.facom.acctrace.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="%command.tooltip"
                  id="br.ufms.facom.acctrace.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocconcepts.xml">
      </toc>
      <toc
            file="tocgettingstarted.xml">
      </toc>
      <toc
            file="tocreference.xml">
      </toc>
      <toc
            file="tocsamples.xml">
      </toc>
      <toc
            file="toctasks.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            name="%category.name.1"
            id="br.ufms.facom.acctrace.importWizards.sampleCategory">
      </category>
      <wizard
            name="%wizard.name"
            icon="icons/sample.gif"
            category="br.ufms.facom.acctrace.importWizards.sampleCategory"
            class="br.ufms.facom.acctrace.importWizards.ImportWizard"
            id="br.ufms.facom.acctrace.importWizards.ImportWizard">
         <description>
            %wizard.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%page.name"
            class="br.ufms.facom.acctrace.preferences.SamplePreferencePage"
            id="br.ufms.facom.acctrace.preferences.SamplePreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="br.ufms.facom.acctrace.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="%page.name.0"
            nameFilter="*.*"
            class="br.ufms.facom.acctrace.properties.SamplePropertyPage"
            id="br.ufms.facom.acctrace.properties.samplePropertyPage">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="intro/sample.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="br.ufms.facom.acctrace.editors.AccTraceEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="acctrace"
            icon="icons/sample.gif"
            id="br.ufms.facom.acctrace.editors.AccTraceEditor"
            name="%editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="br.ufms.facom.acctrace"
            name="%category.name.2">
      </category>
      <wizard
            category="br.ufms.facom.acctrace"
            class="br.ufms.facom.acctrace.wizards.AccTraceFileWizard"
            icon="icons/sample.gif"
            id="br.ufms.facom.acctrace.wizards.AccTraceFileWizard"
            name="%wizard.name.0">
      </wizard>
      <wizard
            category="br.ufms.facom.acctrace"
            class="br.ufms.facom.acctrace.wizards.TraceabilityMatrixWizard"
            icon="icons/sample.gif"
            id="br.ufms.facom.acctrace.wizards.TraceabilityMatrixWizard"
            name="%wizard.name.2">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="br.ufms.facom.acctrace"
            name="%category.name.3">
      </category>
      <view
            category="br.ufms.facom.acctrace"
            class="br.ufms.facom.acctrace.views.RequirementView"
            icon="icons/sample.gif"
            id="br.ufms.facom.acctrace.views.RequirementView"
            name="%view.name.1">
      </view>
      <view
            category="br.ufms.facom.acctrace"
            class="br.ufms.facom.acctrace.views.AccessibilitySpecificationsView"
            icon="icons/sample.gif"
            id="br.ufms.facom.acctrace.views.AccessibilitySpecificationsView"
            name="%view.name.2">
      </view>
      <view
            category="br.ufms.facom.acctrace"
            class="br.ufms.facom.acctrace.views.AccTraceCommentView"
            icon="icons/sample.gif"
            id="br.ufms.facom.acctrace.AccTraceCommentView"
            name="%view.name.3">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="br.ufms.facom.acctrace.views.RequirementView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="br.ufms.facom.acctrace.views.AccessibilitySpecificationsView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="br.ufms.facom.acctrace.views.AccessibilitySpecificationsView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
                <extension
                      point="org.eclipse.ui.actionSets">
                   <actionSet
                         id="br.ufms.facom.acctrace.actionSet"
                         label="%actionSet.label"
                         visible="true">
                      <menu
                            id="sampleMenu"
                            label="%menu.label.0">
                         <separator
                               name="sampleGroup">
                         </separator>
                      </menu>
                      <action
                            class="br.ufms.facom.acctrace.actions.SampleAction"
                            icon="icons/sample.gif"
                            id="br.ufms.facom.acctrace.actions.SampleAction"
                            label="%action.label"
                            menubarPath="sampleMenu/sampleGroup"
                            toolbarPath="sampleGroup"
                            tooltip="%action.tooltip">
                      </action>
                   </actionSet>
                </extension>
                <extension
                      point="org.eclipse.jdt.ui.javaEditorTextHovers">
					<hover
					   activate="true"
					   id="br.ufms.facom.acctrace.hovers.AccTraceCommentHover"
					   class="br.ufms.facom.acctrace.hovers.AccTraceCommentHover"
					   label="%javaVariableHover">
					  </hover>                      
                </extension>
			<extension
			      point="org.eclipse.jdt.core.compilationParticipant">
			   <compilationParticipant
            class="br.ufms.facom.acctrace.compiler.AccTraceCommentCompilerMarker"
            id="br.ufms.facom.acctrace.compiler.AccTraceCommentCompilerMarker"
            requiredSourceLevel="1.4">
			      <managedMarker markerType="org.eclipse.jdt.apt.core.compile.problem"/>
			   </compilationParticipant>
			</extension>
			<extension
         id="br.ufms.facom.acctrace.markes.AccTraceMarker"
         name="%extension.name.2"
         point="org.eclipse.core.resources.markers">
			      <super type="org.eclipse.core.resources.textmarker"/>
			      <attribute name="description" />
			      <persistent value="false" />
			   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="2"
            markerType="br.ufms.facom.acctrace.markes.AccTraceMarker"
            name="br.ufms.facom.acctrace.AccTraceAnnotationType"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="br.ufms.facom.acctrace.AccTraceAnnotationType"
            colorPreferenceKey="clcolor"
	         colorPreferenceValue="192,255,192"
	         contributesToHeader="false"
	         highlightPreferenceValue="true"
	         includeOnPreferencePage="true"
	         label="%specification.label.0"
	         overviewRulerPreferenceValue="true"
	         presentationLayer="0"
	         textPreferenceValue="true"
	         textStylePreferenceValue="DASHED_BOX"
	         verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="br.ufms.facom.acctrace.rulers"
            targetID="org.eclipse.jdt.ui.CompilationUnitEditor">
				<action
               	label="%AccTraceRulerAction.label"
               		class="br.ufms.facom.acctrace.rulers.AccTraceRulerAction"
               		actionID="RulerClick"
               		id="br.ufms.facom.acctrace.rulers.AccTraceRulerAction">
         		</action>            
      </editorContribution>
   </extension>
</plugin>
